.item {
  font-weight: 300 !important;
  font-size: 0.875rem;
  padding-bottom: 0.8rem;

  &::after {
    transition: all 0.4s;
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: theme("colors.green");
  }
}

.active,
.item:hover {
  color: theme("colors.green");

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: theme("colors.green");
  }
}


.itemMobile {
  font-weight: 300 !important;
  font-size: 1.2rem;

  &::after {
    transition: all 0.4s;
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background-color: rgb(189, 186, 186);
  }
}

.active,
.itemMobile:hover {
  color: theme("colors.green");

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: theme("colors.green");
  }
}