.container {
  position: relative;
  display: block;
  width: fit-content;
  margin-right: 1.2rem;
  cursor: pointer;
  margin-bottom: 0.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 100%;
    width: 100%;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #eee;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  &:hover input ~ span,
  input:focus ~ span {
    background-color: #ccc;
  }

  input:checked ~ span {
    background-color: #41bc9c;
  }
  input:checked ~ span:after {
    display: block;
  }

  span:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  label {
    text-align: center !important;
    font-size: 1rem !important;
    display: inline-block !important;
    line-height: 0.2rem !important;
    color: rgba(0, 0, 0, 0.7) !important;
    background-color: #fff !important;
    padding: 0rem 1.2rem;
    margin-left: 1.2rem;
    margin-bottom: 0.4rem;
  }
}
