.btn_container {
  transition: all 0.3s;
  -webkit-box-shadow: 0px 18px 45px -20px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 18px 45px -20px rgba(0, 0, 0, 0);
  box-shadow: 0px 18px 45px -20px rgba(0, 0, 0, 0);

  &:hover {
    transform: translateY(-1.4px);
    -webkit-box-shadow: 0px 18px 45px -20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 18px 45px -20px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 18px 45px -20px rgba(0, 0, 0, 0.4);
  }
}
