@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  color: #333333;
}

p {
  color: #676d76;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea {
  background-color: #ececec;
}

details > summary::before {
  content: "\2192";
  color: #41bc9c !important;
  margin-right: 1rem;
}

details[open] > summary::before {
  content: "\2193";
  color: #41bc9c !important;
  margin-right: 1rem;
}
details > summary {
  list-style-type: none;
}

details > summary::-webkit-details-marker {
  display: none;
}
